
  /*new*/
      #nav{list-style:none;margin: 0px;padding: 0px;}
      #nav li {
      float: left;
      margin-right: 20px;
      font-family: Arial;
      font-size: 14px;
      font-weight:bold;
      }
      #nav li a{color:#333333;text-decoration:none}
      #nav li a:hover{color:#006699;text-decoration:none}


      #notification_li
      {
      position:relative
      }
      #notificationContainer 
      {
      background-color: #fff;
      border: 1px solid rgba(100, 100, 100, .4);
      -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
      overflow: visible;
      position: absolute;
      top: 30px;
      margin-left: -170px;
      width: 500px;
      z-index: -1;
      display: none; // Enable this after jquery implementation 
      }
      // Popup Arrow
      #notificationContainer:before {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      color: transparent;
      border: 10px solid black;
      border-color: transparent transparent white;
      margin-top: -20px;
      margin-left: 188px;
      }
      #notificationTitle
      {
      font-weight: bold;
      padding: 8px;
      font-size: 15px;
      background-color: #ffffff;
      position: fixed;
      z-index: 1000;
      width: 500px;
      border-bottom: 1px solid #dddddd;
      }
      #notificationsBody
      {
      padding: 33px 0px 0px 0px !important;
      width: 500px;
      min-height:300px;
      }
      #notificationFooter
      {
      background-color: #e9eaed;
      text-align: center;
      font-weight: bold;
      padding: 8px;
      font-size: 12px;
      border-top: 1px solid #dddddd;
      }



    #notification_count 
    {
    padding: 3px 7px 3px 7px;
    /*padding-bottom: 12px;*/
    background: #cc0000;
    color: white;
    font-weight: bold;
   /* margin-left: 77px;*/
    border-radius: 9px;
    -moz-border-radius: 9px; 
    -webkit-border-radius: 9px;
    position: absolute;
    margin-top: -11px;
    font-size: 11px;
    }
    div.notifications {
    width: auto;
    height: 110px;
    overflow: auto;
}