body {
  background: #e2e1e0;
  font-family: Arial, sans-serif;
}
h2{
  text-align: center;
  font-family: Georgia;
  color: white;
}

.card {
 /* background: #fff;*/
 background-color:#00a096;
  border-radius: 2px;
  display: inline-block;
  height: 400px;
  margin: 1rem;
  position: relative;
  width: 590px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


/*table*/

.table{
  width: 500px;
  margin-left: 0px;
  thead{
    th{
      padding: 10px 10px;
      background: #00adee;
      font-size: 15px;
      text-transform: uppercase;
      vertical-align: top;
      color: #1D4A5A;
      font-weight: normal;
      text-align: left;
    }
  }
  tbody{
    tr{
      td{
        padding: 10px;
        background: #f2f2f2;
        font-size: 14px;
      }
    }
  }
}

.add, .edit, .save, .delete{
  outline: none;
  background: none;
  border: none;
}

.edit, .save, .delete{
  padding: 5px 10px;
  cursor: pointer;
}


.add{
  float: right;
  background: transparent;
  border: 1px solid #ffffff;
  color: #00a096;
  font-size: 13px;
  padding: 0;
  padding: 3px 5px;
  cursor: pointer;
  
  &:hover{
    background: #ffffff;
    color: #00adee;
  }
}

.save{
  display: none;
  background: #32AD60;
  color: #ffffff;
  
  &:hover{
    background: darken(#32AD60, 10%);
  }
}

.edit{
  background: #2199e8;
  color: #ffffff;
  
  &:hover{
    background: darken(#2199e8, 10%);
  }
}

.delete{
  background: #EC5840;
  color: #ffffff;
  
   &:hover{
    background: darken(#EC5840, 10%);
  }
}


/*button*/
$green: #1ECD97;
$gray: #bbbbbb;
* {
  font-family: 'Roboto', sans-serif;
}

button {
  /*float: right;*/
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px solid $green;
  color:$green;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: $green;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
  &:after {
    content:"SUBMIT";
  }
}

/*modal*/
